* {
  box-sizing: border-box;
}
a {
  transition: opacity 280ms;
}

a:hover,
a:focus {
  opacity: .8;
  transition: opacity 120ms;
}

.submenu-open {
  overflow: hidden;
}
.top-nav {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
}
.nav-item {
  display: block;
}

.top-nav .nav-item {
  margin: 12px;
  font-family: Helvetica, sans-serif;
  font-size:20px;
  font-weight: 300;
}

.top-nav .nav-logo {
  margin-right: auto;
}

.top-nav .nav-menu {
  margin-left: auto;
}

.subnav {
  position: absolute;
  right: 0;
  text-align: right;
}

.subnav-item {
  display: block;
  margin: 4px 12px;
  /* padding: 12px 0; */
  opacity: 0;
  transform: translateY(-12px);
  transition: transform 280ms, opacity 200ms, visibility 280ms;
}

.subnav-item a {
  display: block;
  padding: 8px 0 0;
}

.nav-menu.open .subnav-item {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu.open .subnav {
  visibility: visible;
}
.nav-menu .icon {
  transition: transform 180ms;
  transform: scaleY(1);
}
.nav-menu.open .icon {
  transform: scaleY(-1);
}
.submenu-background-cover {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition: background-color 80ms;
}

.submenu-open .submenu-background-cover {
  background-color: rgba(0,0,0,.6);
  bottom: 0;
  left: 0;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
}

.main-container .content {
  margin: auto;
  width: 100%;
  padding: 0 24px;
  max-width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.main-container .content header {
  flex: 1 0 380px;
  max-width: 460px;
  margin: 36px 24px 0;
}
.main-container .content h1 {
  font-family:AvenirNext-DemiBold, Helvetica, sans-serif;
  font-size:72px;
  color:#ffffff;
  letter-spacing:-4px;
  line-height:82px;
  text-align:left;
  margin: 0;
}
.main-container .content p {
  opacity:0.8;
  font-family:Helvetica;
  font-size:22px;
  color:#ffffff;
  letter-spacing:-0.2px;
  line-height:34px;
  text-align:left;
}
.main-container .content form {
  flex: 1 0 360px;
  max-width: 460px;
  margin: 0 24px;
}
.main-container .content h5 {
  font-family:AvenirNext-DemiBold, Helvetica, sans-serif;
  font-size:16px;
  color:#ffffff;
  letter-spacing:2px;
  text-align:center;
  line-height:21px;
  text-transform: uppercase;
}

.main-container .content .legal a {
  display: block;
  color: #fff;
}
.main-container .content .legal {
  font-family:Helvetica;
  font-size:14px;
  color:#9b9b9b;
  text-align:center;
  line-height:24px;
  display: block;
  margin-top: 24px;
}

.input-group {
  border-radius: 3px;
  overflow: hidden;
}
.input {
  position: relative;
  border-color: #999;
  border-style: solid;
  border-width: 1px 3px 0;
  background: rgba(127,127,127,.3);
}
.input:first-child {
  border-width: 3px 3px 0 3px
}
.input input {
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 18px 8px 12px;
}
.input label {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 8px;
  transform-origin: left;
  transition: transform 200ms, opacity 150ms;
  transform: translateY(-50%) scale(1);
}

.input input,
.input label {
  color: inherit;
  font-size: 18px;
  opacity:0.8;
  font-family: Helvetica, sans-serif;
  letter-spacing:0;
  line-height:28px;
}

.input.has-text label,
.input.is-focused label {
  transform: translateY(-100%) scale(.5) translateY(-4px);
}
.input.is-focused label {
  opacity: 1;
}
.input-group .submit-button::after {
  content: "&gt;";
}
.input-group .submit-button {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: #2C99ED;
  padding: 16px 24px;
  border: 0;
  margin: 0;
  outline: 0;
  font-family:Helvetica, sans-serif;
  font-size:18px;
  color:#ffffff;
  letter-spacing:0;
  line-height:28px;
  cursor: pointer;
  transition: background 200ms;
}
.input-group .submit-button:focus,
.input-group .submit-button:hover {
  background-color: #2C66BB;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.footer .legal {
  /* margin-right: 48px; */
  /* flex: 0 1 50%; */
  /* order: 1; */
  margin: 0 12px;
}

.footer-nav {
  display: flex;
  /* margin: 12px 24px; */
  /* flex: 1 1 50%; */
  /* justify-content: space-between; */
}

.footer-nav .nav-item {
  margin: 0 12px;
  padding: 12px 0;
}

@media (max-width: 615px) {
  .top-nav .nav-item.nav-link {
    display: none;
  }
  .footer {
    justify-content: center;
  }
  .footer .legal { order: 1 }
}
